* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
}

:root {
    --orange-color: hsl(26, 100%, 55%);
    --pale-orange-color: hsl(25, 100%, 94%);
    --very-dark-blue-color: hsl(220, 13%, 13%);
    --dark-grayish-blue-color: hsl(219, 9%, 45%);
    --grayish-blue-color: hsl(220, 14%, 75%);
    --light-grayish-blue-color: hsl(223, 64%, 98%);
    --white-color: hsl(0, 0%, 100%);
    --black-color: hsl(0, 0%, 0%);
    /*(with 75% opacity for lightbox background)*/
}

.header,
.header--menu,
.header--menu_one {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header--menu_icon, .icon-close {
    display: none;
}

.header--menu_avatar {
    width: 2rem;
}

.image--previous,
.image--next {
    display: none;
}

@media screen and (max-width: 425px) and (min-width: 280px) {
    .main {
        padding: 1rem 2rem;
    }

    .main>div {
        margin: 1rem 0;
    }

    .header--menu_icon {
        display: initial;
    }

    .header--menu_one {
        display: block;
    }

    .header--menu_one > li > a {
        color: var(--black-color);
        font-weight: 700;
        line-height: 2.5;
    }

    .icon-close {
        display: block;
        margin-bottom: 1rem;
    }

    .header--menu {
        display: none;
        position: absolute;
        background-color: var(--white-color);
        width: 60%;
        z-index: 1;
        height: 100vh;
        padding: 1.3rem;
        top: 0;
        left: 0;
    }

    .header {
        padding: 1rem 1.5rem;
        position: relative;
    }

    .header--menu_icon {
        margin-right: 0.5rem;
    }

    .header--menu_avatar {
        width: 1.7rem;
    }

    .header--menu_cart {
        margin-right: 0.8rem;
    }

    .image--previous,
    .image--next {
        display: block;
        background-color: var(--white-color);
        padding: 0.5rem 0.7rem;
        border-radius: 50%;
    }

    .image_arrows {
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 1rem;
        top: 15rem;
    }

    .image--container {
        position: relative;
    }

    .image--container,
    .image--product_1 {
        width: 100%;
    }

    .main--title,
    .main--heading {
        margin-bottom: 0.5rem;
    }

    .main--title {
        color: var(--orange-color);
        font-size: 12px;
        letter-spacing: 1px;
        margin-bottom: 0.5rem;
    }

    .main--text {
        font-size: 13px;
        color: var(--dark-grayish-blue-color);
        line-height: 1.5;
    }

    .main--heading {
        font-size: 1.5rem;
    }

    .item--price,
    .item--price_and_discount {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 700;
    }

    .item--price_and_discount {
        width: 10rem;
    }

    .item--price_total {
        font-size: 1.8rem;
    }

    .item--price_discount,
    .item--price_strikethrough {
        font-size: 14px;
    }

    .item--price_discount {
        color: var(--orange-color);
        padding: 0.2rem;
        background-color: var(--pale-orange-color);
    }

    .item--price_strikethrough {
        color: var(--grayish-blue-color);
        text-decoration: line-through;
    }

    .item--add_minus {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: var(--light-grayish-blue-color);
        padding: 1rem;
        border-radius: 0.5rem;
        font-weight: 700;
        width: 100%;
    }

    .button {
        width: 100%;
        color: var(--white-color);
        background-color: var(--orange-color);
        border: none;
        border-radius: 0.5rem;
        padding: 1rem;
        font-weight: 700;
    }

    .button>span {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
}